/* displays tests */

#fichetravailleurs{
    visibility: hidden;
    display: none;
}
#btnbrasserie{
    visibility: hidden;
    display: none;
}
#cartebrasserie{
    visibility: hidden;
    display: none;
}
/*#cartePort{*/
    /*visibility: hidden;*/
    /*display: none;*/
/*}*/
#btnautel{
    visibility: hidden;
    display: none;
}
#carteautel{
    visibility: hidden;
    display: none;
}
#ficheconteneurs{
    visibility: hidden;
    display: none;
}

/* displays tests inits */
#nid{
	visibility: hidden !important;
	display: none !important;
}

/* Infobulle */
#tooltip{
    position:absolute;
    z-index:9999;
    color:#fff;
    background-color: #000000;
    font-size:11px;
    width:180px;
    text-align: left;
    padding: 5px;
}

/* hack IE */
*html #tooltip .tipHeader {margin-bottom:-6px;}