#ficheTravailleurs{
    visibility: hidden;
    display: none;
}
#carteBrasserie{
    visibility: hidden;
    display: none;
}
#cartePort{
    visibility: hidden;
    display: none;
}
#ficheConteneurs{
    visibility: hidden;
    display: none;
}

/* Infobulle */
#tooltip{
    position:absolute;
    z-index:9999;
    color:#fff;
    background-color: #000000;
    font-size:11px;
    width:180px;
    text-align: left;
    padding: 5px;
}
/* hack IE */
*html #tooltip .tipHeader {margin-bottom:-6px;}